<div
  class="flex flex-col min-h-screen bg-gradient-to-br from-blue-900 via-blue-950 to-black p-4"
>
  <mat-form-field class="w-full" floatLabel="always">
    <mat-label>Digite seu texto:</mat-label>
    <textarea
      class="w-full border-2 border-black"
      matInput
      placeholder="Seu texto aqui"
      formControlName="brief"
      (input)="updateCharCount($event)"
    ></textarea>
  </mat-form-field>
  <div class="text-white mt-2 text-center">
    {{ charCount }} caracteres digitados
  </div>
  <a href="https://github.com/RodrigoMarques6/utilidadesParaProjetos" target="_blank"><button>Veja o código no Github</button></a>
</div>
