<div
  class="flex flex-col min-h-screen bg-gradient-to-br from-blue-900 via-blue-950 to-black p-4"
>
  <mat-form-field class="w-full" floatLabel="always">
    <mat-label>Digite seu texto:</mat-label>
    <textarea
      class="w-full border-2 border-black"
      matInput
      placeholder="Seu texto aqui"
      formControlName="brief"
      (input)="updateCharCount($event)"
    ></textarea>
  </mat-form-field>
  <div class="text-white mt-2 text-center">
    {{ charCount }} caracteres digitados
  </div>
  <div class="flex justify-center mt-14">
    <a
      href="https://github.com/RodrigoMarques6/utilidadesParaProjetos/tree/main/src/app/components/character-counter"
      target="_blank"
      ><button
        class="border border-white bg-transparent px-6 py-2 text-white hover:border hover:border-sky-500 hover:bg-white hover:text-blue-700"
      >
        Veja no Github
      </button></a
    >
  </div>
</div>
