<section class="p-4 sm:p-16 md:p-16 lg:p-16 xl:p-16">
    <div
      class="grid lg:grid-cols-2 md:grid-flow-row md:auto-rows-max max-w-screen-xl px-4 py-8 mx-auto gap-4"
    >
      <div class="bg-slate-300 dark:bg-slate-800 relative w-full h-80 rounded-tl rounded-tr">
        <div
          class="relative h-full overflow-hidden rounded-lg 2xl:h-96"
        >
          <div id="carousel-item-1" class="hidden duration-700 ease-in-out">
            <div
              class="absolute block h-5/6 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 shadow-lg w-5/6 sm:w-10/12 sm:h-10/12"
              alt="..."
            >
              <div
                class="w-full h-full flex-none rounded-xl px-4 py-10 snap-center bg-slate-200 space-y-5 dark:bg-default"
              >
                <p
                  class="text-xs text-primary bg-primary-200 inline rounded-lg px-2 py-1"
                >
                  Análise Tarifária
                </p>
                <p class="text-black dark:text-white">
                  DIV 1 Worem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nunc vulputate libero et velit interdum.
                </p>
                <div>
                <p class="font-bold text-black dark:text-white">Titulo</p>
                <p class="text-black dark:text-white">Worem ipsum dolor sit ame</p>
              </div>
              </div>
            </div>
          </div>
  
          <div id="carousel-item-2" class="hidden duration-700 ease-in-out">
            <div
              class="absolute block h-5/6 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 shadow-lg w-5/6 sm:w-10/12 sm:h-10/12"
              alt="..."
            >
              <div
                class="w-full h-full flex-none rounded-xl px-4 py-10 snap-center bg-slate-200 space-y-5 dark:bg-default"
              >
                <p
                  class="text-xs text-primary bg-primary-200 inline rounded-lg px-2 py-1"
                >
                  Análise Tarifária
                </p>
                <p class="text-black dark:text-white">
                  DIV 2 Worem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nunc vulputate libero et velit interdum.
                </p>
                <div>
                <p class="font-bold text-black dark:text-white">Titulo</p>
                <p class="text-black dark:text-white">Worem ipsum dolor sit ame</p>
              </div>
              </div>
            </div>
          </div>
  
          <div id="carousel-item-3" class="hidden duration-700 ease-in-out">
            <div
              class="absolute block h-5/6 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 shadow-lg w-5/6 sm:w-10/12 sm:h-10/12"
              alt="..."
            >
              <div
                class="w-full h-full flex-none rounded-xl px-4 py-10 snap-center bg-slate-200 space-y-5 dark:bg-default"
              >
                <p
                  class="text-xs text-primary bg-primary-200 inline rounded-lg px-2 py-1"
                >
                  Análise Tarifária
                </p>
                <p class="text-black dark:text-white">
                  DIV 3 Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  vulputate libero et velit interdum.
                </p>
                <div>
                <p class="font-bold text-black dark:text-white">Titulo</p>
                <p class="text-black dark:text-white">Worem ipsum dolor sit ame</p>
              </div>
              </div>
            </div>
          </div>
  
          <div id="carousel-item-4" class="hidden duration-700 ease-in-out">
            <div
              class="absolute block h-5/6 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 shadow-lg w-5/6 sm:w-10/12 sm:h-10/12"
              alt="..."
            >
              <div
                class="w-full h-full flex-none rounded-xl px-4 py-10 snap-center bg-slate-200 space-y-5 dark:bg-default"
              >
                <p
                  class="text-xs text-primary bg-primary-200 inline rounded-lg px-2 py-1"
                >
                  Análise Tarifária
                </p>
                
                <p class="text-black dark:text-white">
                  DIV 4 Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  vulputate libero et velit interdum.
                </p>
                <div>
                <p class="font-bold text-black dark:text-white">Titulo</p>
                <p class="text-black dark:text-white">Worem ipsum dolor sit ame</p>
              </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="flex bg-slate-300 dark:bg-slate-800 justify-center gap-2 mb-6 w-full rounded-bl rounded-br p-4">
            
          <button
            id="data-carousel-prev"
            type="button"
            class="flex items-center justify-center h-full cursor-pointer group focus:outline-none"
          >
            <mat-icon
              class="material-icons-outlined bg-black rounded-full text-white p-6"
              >arrow_back_ios_new</mat-icon
            >
          </button>
          <button
            id="data-carousel-next"
            type="button"
            class="flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          >
            <mat-icon
              class="material-icons-outlined bg-black rounded-full text-white p-6"
              >arrow_forward_ios</mat-icon
            >
          </button>
        </div>
  
      </div>
    </div>
  </section>
  
