<section class="bg-gradient-to-br from-blue-900 via-blue-950 to-black">
  <div class="w-1/2 m-auto py-6">
    <div id="jeff" class="border-2 border-yellow-300">
      <div class="row">
        <div class="stack gap-x-4">
          <div class="logo-container">
            <div><p>olá mundo 1</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 2</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 3</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 4</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 5</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 6</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 7</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 8</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 9</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 10</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 11</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 12</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 13</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 14</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 15</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 16</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 17</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 18</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 19</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 20</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 21</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 22</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 23</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 24</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 25</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 26</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 27</p></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="stack reverse gap-x-4">
          <div class="logo-container">
            <div><p>olá mundo 28</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 29</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 30</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 31</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 32</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 33</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 34</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 35</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 36</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 37</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 38</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 39</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 40</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 41</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 42</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 43</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 44</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 45</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 46</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 47</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 48</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 49</p></div>
          </div>
          <div class="logo-container">
            <div><p>olá mundo 50</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
