<section
  class="bg-gradient-to-br from-blue-900 via-blue-950 to-black min-h-screen"
>
  <div class="mapBox flex m-auto max-sm:max-w-sm max-md:max-w-md">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d33065.412368426354!2d-35.74297925616955!3d-9.663531934461645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x70145009f13b6eb%3A0x597cf37096164562!2sPraia%20de%20Ponta%20Verde!5e1!3m2!1spt-BR!2sbr!4v1732885720101!5m2!1spt-BR!2sbr"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
