<section class="py-4 px-12 bg-blue-900">
  <div class="flex justify-between">
    <div class="w-52">
      <div class="flex justify-center space-x-6">
        <a
          href="https://api.whatsapp.com/send?phone=5582996983237"
          target="_blank"
        >
          <div class="flex flex-col items-center">
            <img src="assets/icons/whatsapp.svg" class="icon" />
          </div>
        </a>
        <a href="https://www.instagram.com/rodrigomarques390/" target="_blank">
          <div class="flex flex-col items-center">
            <img src="assets/icons/instagram.svg" class="icon" />
          </div>
        </a>
        <a
          href="https://www.linkedin.com/in/rodrigo-marques-de-lima-b83b83206/"
          target="_blank"
        >
          <div class="flex flex-col items-center">
            <img src="assets/icons/linkedin.svg" class="icon" />
          </div>
        </a>
        <a href="https://github.com/rodrigoMarques6" target="_blank">
          <div class="flex flex-col items-center">
            <img src="assets/icons/github.svg" class="icon" />
          </div>
        </a>
      </div>
    </div>

    <div
      class="lg:flex-col lg:gap-y-12 max-w-screen-xl space-y-2 mx-auto sm:mx-0 md:mx-0 lg:mx-0 xl:mx-0 my-auto"
    >
      <p class="text-center text-white">&copy; 2024 Rodrigo Marques.</p>
    </div>
  </div>
</section>
