<section class="section fade-in relative pt-10 pb-10">
  <div class="absolute inset-0">
    <p>Olá mundo</p>
  </div>

  <div class="relative z-10">
    <div class="flex justify-center mb-4">
      <p>Olá mundo</p>
    </div>
    <div
      class="px-10 sm:px-2 sm:w-4/5 md:w-3/5 md:px-16 m-auto flex justify-center items-center mb-8"
    >
      <p class="text-white text-center sm:text-base text-xs">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo veritatis voluptatum voluptate repudiandae quibusdam mollitia dolor dolores excepturi molestias animi impedit, cupiditate architecto et nihil. Quisquam placeat doloremque nemo earum.
      </p>
    </div>
    <div class="flex flex-col items-center max-sm:px-4">
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/JvkX2_46gUY"
        frameborder="0"
        allowfullscreen
        class="rounded-lg shadow-md max-sm:w-full sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-xl"
      ></iframe>
    </div>
  </div>
</section>
