<section>
  <p>Desafios técnicos para entrevistas</p>
  <a href="https://github.com/felipefialho/frontend-challenges" target="_blank"
    >Link 1</a
  >
  <a href="https://github.com/CollabCodeTech/backend-challenges" target="_blank"
    >Link 2</a
  >
  <p>APIs públicas gratuitas</p>
  <a href="https://github.com/public-apis/public-apis" target="_blank"
    >Link 1</a
  >
  <p>Padrões de commits</p>
  <a href="https://github.com/iuricode/padroes-de-commits" target="_blank"
    >Link 1</a
  >
  <p>Ideias de apps</p>
  <a href="https://github.com/florinpop17/app-ideas" target="_blank">Link 1</a>
  <p>Readmes templates</p>
  <a href="https://github.com/shyoutarou/README-Model" target="_blank"
    >Link 1</a
  >
  <a href="https://github.com/Fernanda-Kipper/Readme-Templates" target="_blank"
    >Link 2</a
  >
  <a href="https://github.com/iuricode/readme-template" target="_blank"
    >Link 3</a
  >
  <p>Clean code para javascript</p>
  <a
    href="https://github.com/felipe-augusto/clean-code-javascript"
    target="_blank"
    >Link 1</a
  >
  <p>Roadmap para desenvolvedores</p>
  <a href="https://github.com/arthurspk/guiadevbrasil" target="_blank"
    >Link 1</a
  >
</section>
